.main{
	border:2px #6666FF solid;
	color:brown;
	text-align:center;
	padding:10px;
}
.main1{
	color:brown;
	text-align:center;
	padding:10px;
	margin-top:100px;
}
.menu
{
	display:inline;
	margin-left:6%;
	text-align:center;
	padding:1.8%;
	padding-left:6%;
	padding-right:6%;
	color:blue;
	width:50%;
	height:10%;
}
.menu a 
{
	border:1px #FF007F solid;
	
}
body
{
background:#CC99FF;
}
