<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="{{url_for('static',filename='css/style.css') }}">
	<title>Main Site</title>
</head>
<body>
	<h1>Welcome to Vadim's Page</h1>
	
	<ul class="menu">
			<a class="menu" href="localhost:5000"">
				Main
			</a>
			<a class="menu" href="parser.html">
				Parser
			</a>
			<a class="menu" href="contacts.html">
				Contacts
			</a>
	</ul>
	<ul class="contacts">
	<a href="vk.com/bobspongee">My VK</a>
	<a> Discord : Bulichka#8911</a>
	</ul>
</body>
</html>
